/* Стилизация кнопки */

.button {
  min-width: 189px;
  min-height: 48px;
  padding: 15px 65px 14px;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.172;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out,
    border 200ms ease-in-out;
}

.button_primary {
  background-color: var(--primary);
  color: var(--secondary-font-color);
}

.button_secondary {
  background-color: var(--secondary);
  color: var(--secondary-font-color);
}

.button_alternate {
  background-color: var(--alternate);
  color: var(--primary-font-color);
  border: 1px solid var(--border-color);
}

.button_primary:hover {
  background-color: var(--primary-state-hover);
}

.button_alternate:hover {
  background-color: inherit;
  border-color: var(--border-hover-color);
}

.button_secondary:hover {
  background-color: var(--secondary-state-hover);
}

.button:active {
  opacity: var(--secondary-opacity);
}

.button_alternate:active {
  border-color: var(--border-color);
}

.button:disabled {
  pointer-events: none;
  opacity: var(--primary-opacity);
}
