.header {
  min-height: 237px;
}

.title {
  margin: 0;
  font-family: Inter;
  font-size: 50px;
  line-height: 64px;
  font-weight: 500;
}

.title_h2 {
  font-size: 38px;
  line-height: 48px;
}

.text {
  margin: 0;
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.5;
}

.header__title {
  padding: 96px 160px 77px 160px;
}

.content {
  min-height: 1036px;
  background-color: #f9fafc;
  border-top: 1px solid var(--grey-2);
  border-bottom: 1px solid var(--grey-2);
}

.footer {
  min-height: 262px;
  text-align: center;
  padding: 61px 20px;
}

.footer__title {
  padding: 16px;
  width: 640px;
  margin: 0 auto;
}

.footer__text {
  padding: 16px;
  width: 640px;
  margin: 0 auto;
}
